
ul {
    list-style-type: none ;
    padding: 0px;
    margin: 0px;
}

li {
    text-align: left;
    padding: 10px;

    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

.done {
    background-color: #dbe9fd;
}

.not-done:hover{
    background-color: #0b6bf2;
}
.not-done{
    background-color: #0243eb;
    cursor: pointer;
}